{% import _self as tree %}

{% macro render(taxons) %}
    {% import _self as tree %}

    <ul>
        {% for taxon in taxons %}
            <li class="item">
                <a href="{{ path('nucms_admin_taxon_update', {'id': taxon.id}) }}">
                    {{ taxon.name }}
                </a>
                <div class="list">
                    {{ tree.render(taxon.children) }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{{ tree.render(taxons) }}