{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('create')))) %}

<a href="{{ path }}" class="btn btn-success">
    {{ (action.label is empty) ? 'nucms.ui.create'|trans : action.label|trans }}
</a>