{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('update')), options.link.parameters|default({'id': data.id}))) %}

<a href="{{ path }}" class="el-button el-button--primary is-plain">
    {{ (action.label is empty) ? 'nucms.ui.edit'|trans : action.label|trans }}
</a>