# Files
/app/config/parameters.yml
/behat.yml
/phpunit.xml
/phpspec.yml
/.web-server-pid

# Directories
/web/assets
/web/bundles
/web/css
/web/js
/web/media
/var/*
!/var/.gitkeep
/vendor
/node_modules
/web/upload/*
!/web/upload/.gitkeep

# Bin
/bin/*
!/bin/console
docker

# Ide's
.idea

# CI
/etc/build/*
!/etc/build/.gitkeep

# Deploy
phploy.ini