# Files
/behat.yml
/phpunit.xml
/phpspec.yml
/.web-server-pid

# Directories
/public/assets
/node_modules
/docker

# Bin
/bin/*
!/bin/console

# Ide's
.idea
.DS_Store

# CI
/etc/build/*

# Deploy
phploy.ini

# Upload
/public/upload/*
/public/media/cache/xs/*
/public/media/cache/sm/*
/public/media/cache/md/*
/public/media/cache/lg/*
!.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
