<footer class="text-light p-3 mt-5" style="background-color: #2f275d;">
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <p class="float-right">
                    &copy; Copyright {{ "now"|date("Y") }} <br>

                    <a href="#">Back to top</a>
                </p>
            </div>
        </div>
    </div>
</footer>