<footer class="text-light p-3 mt-5" style="background-color: #2f275d;">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        &copy; Copyright {{ "now"|date("Y") }}
    </div>
</footer>