{% extends '@NugatoNuCms/Web/base.html.twig' %}

{% block content %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Lorem ipsum</h1>
            <p class="lead text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget vehicula tortor, eu hendrerit erat.
                In vestibulum mi non diam accumsan, eu egestas tellus sollicitudin. Nulla porta, orci ullamcorper
                efficitur luctus, orci diam gravida nibh, eget hendrerit massa lacus eu metus.
            </p>
            <p>
                <a href="#" class="btn btn-primary">Button 1</a>
                <a href="#" class="btn btn-secondary">Button 2</a>
            </p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget vehicula tortor, eu hendrerit
                        erat.
                        In vestibulum mi non diam accumsan, eu egestas tellus sollicitudin. Nulla porta, orci
                        ullamcorper
                        efficitur luctus, orci diam gravida nibh, eget hendrerit massa lacus eu metus. Aliquam erat
                        volutpat.
                        Donec dolor tellus, blandit in enim id, malesuada molestie odio. Nullam vitae justo et est
                        luctus
                        volutpat. Nunc ante felis, sollicitudin quis magna eu, tempor lacinia eros. Nullam efficitur,
                        felis
                        congue pellentesque pretium, magna dui vulputate leo, vel vehicula purus enim non dolor. Duis ac
                        vestibulum eros, ut mattis elit. Nam suscipit efficitur justo, ac suscipit elit iaculis id.</p>
                    <p>In hac habitasse platea dictumst. Sed a laoreet purus. Pellentesque imperdiet iaculis placerat.
                        Donec et
                        tortor tempor, maximus ligula id, viverra tortor. Etiam eu libero lorem. Curabitur efficitur
                        vulputate
                        efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos.
                        Fusce ex sem, laoreet vel euismod a, fermentum id magna.</p>
                </article>
            </div>

            <div class="col-sm-4">
                {{ render(controller('Nugato\\Bundle\\NuCmsBundle\\Controller\\Web\\BlogController:latestPosts', {'limit': 2, 'template': '@NugatoNuCms/Web/Blog/Partial/_latestPosts.html.twig'})) }}
            </div>
        </div>
    </div>

{% endblock %}
