{% extends '@NugatoNuCms/Web/Layout/containerWidth.html.twig' %}

{% block content %}

    <article class="mt-5">
        <header class="t-page_title_div mb-3">
            <h1>{{ page.title|capitalize }}</h1>
            <span class="badge badge-secondary">Created at {{ page.createdAt|date('Y-m-d') }}</span>
        </header>
        <main>
            {{ page.content|raw }}
        </main>
    </article>

{% endblock %}