{% extends '@NugatoNuCms/Web/base.html.twig' %}

{% block content %}

    <article>
        <header class="t-page_title_div">
            <h1>{{ page.title|capitalize }}</h1>
        </header>
        <main>
            {{ page.content|raw }}
        </main>
        <footer>
            Created at {{ page.createdAt|date('Y-m-d') }}
        </footer>
    </article>

{% endblock %}