{% extends '@NugatoNuCms/Admin/base.html.twig' %}

{% set metadata = metadata %} {# Metadata about grid (name, applicationName, controllers, factory)#}
{% set vars = configuration.vars %} {# Additional variables passed from yml #}

{% form_theme form '@NugatoNuCms/Admin/Form/theme.html.twig' %}

{% block content %}

    {% include('@NugatoNuCms/Admin/Alerts/_flashes.html.twig') %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn btn-primary t-create_submit_button" type="submit">{{ 'nucms.ui.create'|trans }}</button>

    {{ form_end(form) }}

{% endblock %}