{% extends 'NugatoNuCmsBundle:Admin:base.html.twig' %}

{% set metadata = metadata %} {# Metadata about grid (name, applicationName, controllers, factory)#}
{% set vars = configuration.vars %} {# Additional variables passed from yml #}

{% block content %}

    {% include('NugatoNuCmsBundle:Admin/Alerts:_flashes.html.twig') %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="t-create_submit_button">{{ 'nucms.ui.create'|trans }}</button>

    {{ form_end(form) }}

{% endblock %}