<nav class="uk-navbar uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" href="#" uk-toggle="target: #offcanvas-nav">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-left">{{ 'nucms.ui.menu.label'|trans() }}</span>
        </a>
    </div>

    {% if app.user %}
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="#">
                        <span class="uk-icon uk-margin-right" uk-icon="icon: user"></span>
                        <span class="uk-text-lowercase">{{ app.user.email }}</span>
                    </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-nav-divider"></li>
                            <li>
                                <a class="t-logout_button" href="{{ path('nucms_admin_logout') }}">{{ 'nucms.ui.login.logout'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>