<div id="offcanvas-nav" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">

        {{ knp_menu_render('NugatoNuCmsBundle:AdminBuilder:build', {'template': '@NugatoNuCms/Admin/Menu/sidebar_menu.html.twig'}) }}

        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-divider"></li>
            <li>
                <a href="{{ path('nucms_admin_logout') }}">
                    <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> {{ 'nucms.ui.login.logout'|trans }}
                </a>
            </li>
        </ul>
    </div>
</div>